.contenedor span {
    color: #DF991B;
    font-size: 30px;
    }
     
.h2 {
    font-size: 50px;
    font-weight: bolder;
      }
    .centro {
      font-weight: bolder;
      border: solid 1px black;
      background-color: transparent;
      padding: 10px 50px;
      border-radius: 20px;
    }
    .lados {
      background-color: transparent;
      border: none
    }
    .botones {
      display: flex;
      gap: 20px;
      margin-top: 50px;
      }

    .contenedor {

    }
   
.contenedor_imagenes {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow: hidden;
}
.imagenes {
grid-column: span 5;
overflow: hidden;
position: relative;
}
.imagenes:hover {
cursor: pointer;
}
.imagenes img {
width: 100%;
height: 100%;
object-fit: cover;
}
.imagenes:hover p {
background-color: white;
color: black;
}
.imag {
grid-column: span 2;
}

.imagenes p {
    position: relative;
    color: white;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px ;
    margin: 0;
    transition: 0.3s ease;
    
    }


